<head>
    <script type="text/javascript">
$(function() {
    $("#autocomplete").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
            q: request.term,
            }, function(data) {
            response(data.matching_results);
            });
        },
        minLength: 2,
        select: function(event, ui) {

            $("#autocomplete").val(ui.item.label);
            var getID=ui.item.value;
            return false;
        }
    });
})


    </script>
</head>

<body>
<div>
    <form class="form-horizontal" method="post" action="/showSelection">
        <h3>Genes</h3>
        <input name="autocomplete" type="text" placeholder="Gene name" id="autocomplete" class="form-control input-lg"/
        >
    </form>
</div>
</body>