<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- <link rel="shortcut icon" href="#"> -->
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static/images/brandhub.png" type="image/gif">
    <title>basic RDF-Frontend</title>
</head>
<body>
    <div id="app">

        <!-- sidebar menu -->

        <section class="sidebar-menu" v-bind:style='{"width" : (isActive ? "0" : "")}'>

            <div class="form-ontology">
                <h1>
                    form ontology
                </h1>
                <div v-show="true" >
                    <!-- <form action="#" name="tripple-form" method="POST" novalidate> -->
                        <label for="input1">Subject/Class</label>
                        <br>
                        <input type="text" name="input1" :value="title" >
                        <br>
                        <label for="input2">Value</label>
                        <br>
                        <input type="text" name="input2" v-model="sub">
                        <br>
                        <input type="submit" name="showTripple" value="Submit" class="submit-btn" @click="onSubmit">
                        <!-- <button type="submit">Submit</button> -->
                    <!-- </form> -->
                </div>
            </div>

            <div class="tripple-show">
                <h1>tripple results</h1>
                <!-- <table>
                      <thead>
                          <tr>
                              {% for col in colnames %}
                              <th>{{ col }}</th>
                              {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                          {% for record in records %}
                          <tr>
                              {% for col in colnames %}
                              <td>{{ record[col] }}</td>
                              {% endfor %}
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table> -->
                  <div v-show="showRdf">
                    <h2>You have created a RDF</h2>
                    <p>Subject: {sub}</p>
                    <p>Object: {obj}</p>
                  </div>
            </div>
            
        </section>
        <!-- main menu -->
        <section class="main-menu" 
        v-bind:style="[isActive? {'width': '100vw'} : {'width':'70vw'}]"
        >
        <!-- navbar -->
            <nav>
                <ul>
                    <li><strong>RDF-FRONTEND</strong></li>
                    <li><a href="#"><strong>Mat-o-lab</strong></a> </li>
                    <li><a href="https://www.bam.de/Navigation/DE/Home/home.html" target="_blank"><strong>BAM</strong></a></li>
                    <li><a href="https://www.imws.fraunhofer.de/" target="_blank"><strong>Fraunhofer</strong></a></li>
                </ul>
            </nav>
        <!--  -->
            <h1>File preview</h1>
            <form name="read-file-form" action="/test_read" method="post">
                <h2>Read Any File</h2>
                <input type="file" name="upload-file">
                <input type="number" name="no_of_rows_csv" placeholder="no of lines to show"/>
                <input type="submit" name="read_file_submit" value="Show">
            </form>
            <div id="toggle-button">
                <ul style="list-style-type: none;">
                    <li 
                        v-for="(value,index) in values"
                        :key="index"
                        v-on:click="toggleMenu(index)"
                       
                        v-bind:style='[value.opened? {"background-color": "#d8e2dc"}:{"background-color": "#e9c46a"}]'
                    >
                    {value.value}
                    
                    </li>
                </ul>
    
            </div>

        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <script type="text/javascript">
        let lineData = {{data|safe}}
        let valuesObjectArray = []
        if (lineData.length>1) {
            for (i=0; i<lineData.length; i++) {
                valuesObjectArray.push({
                    opened: true,
                    value: lineData[i]
                })
            }
        } else {
            valuesObjectArray.push({
                    opened: true,
                    value: 'no data to show yet!'
                })
        }
        
    </script>
    <script>
        var app = new Vue({
            delimiters: ['{', '}'],
            el: '#app',
            data: {
                isActive: true,
                values: valuesObjectArray,
                id: '',
                title: '',
                sub: '',
                predicate: '',
                obj: '',
                showRdf: false
            },
            methods: {
                toggleMenu(index) {
                    this.id = index;
                    this.title = this.values[index].value;
                    this.values[index].opened = !this.values[index].opened
                    this.isActive = this.values[index].opened;
                    console.log(this.isActive)
                    console.log('this is id ',this.id)
                    console.log(this.values[index].opened)
                },
                onSubmit() {
                    this.showRdf = true;
                    this.obj = this.title
                }
            }
        })
    </script>

</body>
</html>

