


<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="static/rdf_ui/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!--<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">-->
</head>


<body>
    <div id="app">

        <!--             v-bind:style="[isActive? {'width': '100vw'} : {'width':'70vw'}]>-->
        <section class="main-menu">
        <nav>
            <ul>
                <li>RDF-FRONTEND</li>
                <li><a href="#">Mat-o-lab</a> </li>
                <li><a href="#">BAM</a></li>
                <li><a href="#">Fraunhofer</a></li>
            </ul>
        </nav>

        <div>
            <h1>RDF Triples</h1>

            {{results}}

        </div>






</section>
</div>
</body>

</html>
